{% extends 'base/base.html' %}
{% block title %}ورود - پنل توسعه هوشمند{% endblock %}

{% block content %}
<article class="grid">
    <div></div>
    <div>
        <hgroup>
            <h1>ورود به سیستم</h1>
            <p>به پنل توسعه هوشمند بسپار خوش آمدید</p>
        </hgroup>
        
        <form method="post">
            {% csrf_token %}
            <label for="username">
                نام کاربری
                <input type="text" id="username" name="username" required autofocus>
            </label>
            
            <label for="password">
                رمز عبور
                <input type="password" id="password" name="password" required>
            </label>
            
            <button type="submit">ورود</button>
        </form>
    </div>
    <div></div>
</article>
{% endblock %}
